<div class='event-card'>

  {{#each images}}

    <img src={{url}} alt='{{name}}' />

  {{/each}}
  <div class='stats'>
    <p class='event-item-name'>

      {{name}}
    </p>
    <p class='event-item-data'>

      {{dates.start.localDate}}
    </p>
    <p class='event-item-location-map'>
      {{#each _embedded.venues}}
        <a
          href='https://maps.google.com?ll={{location.latitude}},{{location.longitude}}&zoom=10'
          target='_blank'
          rel='nofollow noreferrer'
        >Здесь</a>
        <p class='event-item-location'>
          {{name}}
        </p>
      {{/each}}
    </p>
  </div>
</div>